<?php 

// Example of a small PHP file that will backup a set of files.
// This style of implementation may work better for you if you are using a configuration manager like Chef or Puppet.
// This style is completely optional, and is only shown as an example.
// To enable this example you will need to rename it to etc.php (remove ".dist" from the filename)

backupFiles(array('/etc'),'my_server');

?>
